* {
  box-sizing: border-box;
}
body,
html {
  background-color: #000;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
a {
  color: #fff;
  transition: all 0.4s cubic-bezier(0, 1.115, 0.415, 0.975);
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #c6fdea !important;
}
ul {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}
main {
  margin: 80px 40px;
}
h1,
li {
  font-weight: 500;
  line-height: 1.4;
  font-size: 32px;
  margin: 0;
}
li {
  color: #333;
  margin: 0;
}
li a {
  color: #777;
}
@media (max-width: 600px) {
  h1,
  li {
    font-size: 22px;
  }
  main {
    margin: 55px 18px;
  }
}
.small {
  color: white;
  font-size: 18px;
  font-weight: 300;
}